/* RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* GLOBALS */

:root {
	--red-dark: #a41a1a;
	--red: #cd2020;
	--red-light: #d23737;
	--blue-dark: #002474;
	--blue: #002d91;
	--blue-light: #1a429c;
	--blue-highlight: #0d3a9e;

	--red-h: 0;
	--red-s: 73%;
	--red-l: 46%;

	--red-hsl: hsl(var(--red-h), var(--red-s), var(--red-l));

	--red-dark-5: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - 5%));
	--red-dark-10: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - 10%));
	--red-dark-15: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - 15%));
	--red-dark-20: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - 20%));
	--red-dark-25: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - 25%));

	--red-light-5: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 5%));
	--red-light-10: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 10%));
	--red-light-15: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 15%));
	--red-light-20: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 20%));
	--red-light-25: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 25%));

	--blue-h: 221;
	--blue-s: 73%;
	--blue-l: 28%;

	--blue-hsl: hsl(var(--blue-h), var(--blue-s), var(--blue-l));

	--blue-dark-5: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 5%));
	--blue-dark-10: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 10%));
	--blue-dark-15: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 15%));
	--blue-dark-20: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 20%));
	--blue-dark-25: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 25%));

	--blue-light-5: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 5%));
	--blue-light-10: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 10%));
	--blue-light-15: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 15%));
	--blue-light-20: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 20%));
	--blue-light-25: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 25%));

	--wiki-chrome-bg-color: #eaecf0;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	display: grid;
	place-items: center;
	background: var(--wiki-chrome-bg-color);
}

button:focus {
	outline: solid 2px yellow;
}
button:focus:not(:focus-visible) {
	outline: none;
}
button:focus-visible {
	outline: solid 2px yellow;
}

div.mw-parser-output {
	margin: 1.5rem;
	padding: 1.5rem 2rem;
	color: #222222;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}

/* set a max width on the element itself */
.char-limit {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
